image: "dothanhtrung/bevy-dev:latest"

before_script:
  - rm -f .cargo/config.toml

cache: &global_cache
  key: cargo_cache
  paths:
    - target/
    - .cargo/registry/index
    - .cargo/registry/cache
    - .cargo/bin
  policy: pull-push

variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo

check:
  stage: build
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - /usr/local/cargo/bin/cargo-sweep sweep -t 60 || true
    - cargo check --example 2d
    - cargo check --no-default-features --example 2d
    - cargo check --example 3d
    - cargo check --example asset_loader
  rules:
    - changes:
        - Cargo.toml
        - src/**/*
        - examples/**/*

#publish:
#  stage: deploy
#  script:
#    - cargo publish --token $CARGO_REGISTRY_TOKEN
#  rules:
#    - if: $CI_COMMIT_TAG
#      when: always